<div class="container">
    <div class="text-center">
        <p>Si tiene alguna duda por favor contacte a <strong>{{ shopName }}</strong> al
            teléfono: <strong><a href="tel:{{ shopPhone }}"></a>{{ shopPhone }}</strong> ó acuda a su dirección en <strong><a href="#">{{ shopAddress }}</a></strong></p>

        <p>{{ shopName }} utiliza <a class="footer-links" href="http://www.mercadomovil.com.mx/" target="_blank">Mercado
            Móvil </a> para procesar ventas electronicas</p>

        <p><a href="https://mercadomovil.com.mx/doc/page/terminos-y-condiciones/" target="_blank"
              class="footer-links">Consulte términos y condiciones de este servicio</a></p>
    </div>
</div>