<section id="content-area">
    <div class="container">
        <div class="title-default">
            <h2>Carrito de compras</h2>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12 box-payment">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{ item.name }}</td>
                                <td>{{ item.qty }} x {{ item.price | currency }}</td>
                                <td>
                                    <button class="btn btn-sm" ng-click="Cart.setItem(item, item.qty - 1)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                    <button class="btn btn-sm" ng-disabled="Cart.addBtn" ng-click="Cart.setItem(item, item.qty + 1)">
                                    <i class="fa fa-plus"></i>
                                </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong class="pull-right">Precio de envio:</strong></td>
                                <td><strong>{{ shipmentPrice | currency }}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong class="pull-right">Total:</strong></td>
                                <td><strong>{{ total | currency }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 box-payment">
                    <form name="Cart.paymentForm" ng-submit="Cart.processPayment()" novalidate>
                        <div class="col-md-6 no-pd-lft">
                            <div class="container-fluid info-send no-pd-lft">
                                <h3>Información de pago</h3>

                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.email.$touched && Cart.paymentForm.email.$invalid }">
                                                <label for="email">Email <span class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.email" type="email" name="email" id="email" required>
                                                <div class="help-block" ng-messages="Cart.paymentForm.email.$error" ng-if="Cart.paymentForm.email.$touched">
                                                    <p ng-message="email">Debe ser un correo electronico valido.</p>
                                                    <p ng-message="required">Este campo es requerido.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.phone.$touched && Cart.paymentForm.phone.$invalid }">
                                                <label for="phone">Teléfono <span
                                                        class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.phone" type="text" name="phone" id="phone" required>
                                                <div class="help-block" ng-messages="Cart.paymentForm.phone.$error" ng-if="Cart.paymentForm.phone.$touched">
                                                    <p ng-message="required">Este campo es requerido.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.cardholder.$touched && Cart.paymentForm.cardholder.$invalid }">
                                                <label for="cardholder">Tarjetahabiente <span
                                                        class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.card.name" type="text" name="cardholder" id="cardholder" required>
                                                <div class="help-block" ng-messages="Cart.paymentForm.cardholder.$error" ng-if="Cart.paymentForm.cardholder.$touched">
                                                    <p ng-message="required">Este campo es requerido.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.card.$touched && Cart.paymentForm.card.$invalid }">
                                                <label for="card">Número de tarjeta <span
                                                        class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.card.number" type="text" name="card" id="card" required>
                                                <div class="help-block" ng-messages="Cart.paymentForm.card.$error" ng-if="Cart.paymentForm.card.$touched">
                                                    <p ng-message="required">Este campo es requerido.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.month.$touched && Cart.paymentForm.month.$invalid }">
                                                <label for="month">Mes <span class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.card.exp_month" type="number" name="month" id="month" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.year.$touched && Cart.paymentForm.year.$invalid }">
                                                <label for="year">Año <span class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.card.exp_year" type="number" name="year" id="year" required>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.code.$touched && Cart.paymentForm.code.$invalid }">
                                                <label for="code">CVC <span class="text-danger-dk">*</span></label>
                                                <input class="form-control" ng-model="Cart.payment.card.cvc" type="number" name="code" id="code" required>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">

                                        <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                                        <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                                        <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 no-pd-rgt">
                            <div class="container-fluid info-send no-pd-rgt" ng-if="shipmentPrice >= 0">
                                <h3>Información de envío</h3>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.fullName.$touched && Cart.paymentForm.fullName.$invalid }">
                                        <label for="fullName">Nombre completo<span class="text-danger-dk">*</span></label>
                                        <input class="form-control" type="text" name="fullName" id="fullName" ng-model="Cart.charge.metadata.shippingAddress.fullName"
                                            required>
                                            <div class="help-block" ng-messages="Cart.paymentForm.fullName.$error" ng-if="Cart.paymentForm.fullName.$touched">
                                                <p ng-message="required">Este campo es requerido.</p>
                                            </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.phoneShipping.$touched && Cart.paymentForm.phoneShipping.$invalid }">
                                        <label for="phoneShipping">Teléfono<span class="text-danger-dk">*</span></label>
                                        <input class="form-control" type="text" name="phoneShipping" id="phoneShipping" ng-model="Cart.charge.metadata.shippingAddress.phone"
                                            required>
                                            <div class="help-block" ng-messages="Cart.paymentForm.phoneShipping.$error" ng-if="Cart.paymentForm.phoneShipping.$touched">
                                                <p ng-message="required">Este campo es requerido.</p>
                                            </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.address.$touched && Cart.paymentForm.address.$invalid }">
                                        <label for="address">Dirección <span class="text-danger-dk">*</span></label>
                                        <input class="form-control" type="text" name="address" id="address" ng-model="Cart.charge.metadata.shippingAddress.address"
                                            required>
                                            <div class="help-block" ng-messages="Cart.paymentForm.address.$error" ng-if="Cart.paymentForm.address.$touched">
                                                <p ng-message="required">Este campo es requerido.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-6 no-pd-lft">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.neighborhood.$touched && Cart.paymentForm.neighborhood.$invalid }">
                                                <label for="neighborhood">Colonia <span
                                                        class="text-danger-dk">*</span></label>
                                                <input class="form-control" type="text" name="neighborhood" id="neighborhood" ng-model="Cart.charge.metadata.shippingAddress.neighborhood"
                                                    required>
                                                    <div class="help-block" ng-messages="Cart.paymentForm.neighborhood.$error" ng-if="Cart.paymentForm.neighborhood.$touched">
                                                        <p ng-message="required">Este campo es requerido.</p>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-pd-rgt">
                                            <div class="form-group" ng-class="{ 'has-error': Cart.paymentForm.cp.$touched && Cart.paymentForm.cp.$invalid }">
                                                <label for="cp">C.P. <span class="text-danger-dk">*</span></label>
                                                <input class="form-control" type="text" name="cp" id="cp" ng-model="Cart.charge.metadata.shippingAddress.zip" ng-pattern="/^[0-9]{5}$/"
                                                    required>
                                                    <div class="help-block" ng-messages="Cart.paymentForm.cp.$error" ng-if="Cart.paymentForm.cp.$touched">
                                                        <p ng-message="pattern">Código postal no valido.</p>
                                                        <p ng-message="required">Este campo es requerido.</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="state">Estado <span class="text-danger-dk">*</span></label>
                                        <ui-select on-select="Cart.getCitiesByState($item, $model)" ng-disabled="Cart.busyState" title="Estado" ng-model="Cart.charge.metadata.shippingAddress.state"
                                            name="states">
                                            <ui-select-match placeholder="Selecciona un Estado..." allow-clear="true">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="state.id as state in Cart.states | filter: {name: $select.search}">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                            </ui-select>
                                    </div>
                                    <div class="form-group">
                                        <label for="city">Ciudad <span class="text-danger-dk">*</span></label>
                                        <ui-select ng-model="Cart.charge.metadata.shippingAddress.city" name="cities" ng-disabled="Cart.busyCity" title="Ciudad">
                                            <ui-select-match placeholder="Selecciona una Ciudad..." allow-clear="true">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="city.id as city in Cart.cities | filter: {name: $select.search}">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="pull-right payment-prd">
                            <button class="btn btn-btn btn-default" ng-click="Cart.clearCart();">Cancelar</button>
                            <button type="submit" ng-disabled="Cart.busyCard || Cart.paymentForm.$invalid" class="btn btn-btn btn-blue pull-right">
                                Realizar pago <span ng-show="Cart.busyCard">
                                    <i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="info-send">

        </div>
    </div>
    </div>
</section>