<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-6 col-sm-6">
                    <h4 class="title-catalog">Catálogo de productos, servicios y cupones</h4>
                    <hr/>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button class="btn btn-gray-dark btn-gray-dark-sm" ng-click="Item.changeKind('')"><i
                                class="fa fa-list-ul"></i> Todos
                        </button>
                        <button class="btn btn-gray-dark btn-gray-dark-sm" ng-click="Item.changeKind('product')"><i
                                class="fa fa-cubes"></i> Productos
                        </button>
                        <button class="btn btn-gray-dark btn-gray-dark-sm" ng-click="Item.changeKind('coupon')"><i
                                class="fa fa-tags"></i> Cupones
                        </button>
                        <button class="btn btn-gray-dark btn-gray-dark-sm" ng-click="Item.changeKind('service')"><i
                                class="fa fa-gears"></i> Servicios
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-md-3 col-sm-4 col-xs-6 nopdg-movile" ng-repeat="item in Item.list">
                        <div class="box-default">
                            <div class="box-header">
                                <a ui-sref="item_detail({slug: item.slug})">
                                    <div class="img-prd"
                                         style="background-image: url('{{ item.attachments[0].url }}')"></div>
                                </a>
                            </div>
                            <div class="box-container">
                                <h1>{{ item.name }}</h1>
                                <h4>{{ item.price | currency }}</h4>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-orange" ng-disabled="Item.itemInCart(item) || item.stock < 1 && !item.infinityStock"
                                        ng-click="Item.setItem({id: item.id, price: item.price, name: item.name, qty: 1,shipmentPrice: item.shipmentPrice, stock: item.stock});">
                                    <i class="fa fa-plus"></i> Agregar a carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="Item.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>

                    <div class="col-sm-12" ng-show="!Item.busy">
                        <h2 class="text-center" ng-show="!Item.list.length">Lo sentimos no contamos con contenido
                            disponible</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>