<section id="content-prd-detail">
    <div class="container">
        <div class="col-md-12 back-catalog">
            <div class="col-md-2 col-sm-4">
                <a ui-sref="home" class="btn btn-default"><i class="fa fa-angle-left"></i> Regresar al catálogo</a>
            </div>
            <div class="col-md-10 col-sm-8">
                <ol class="breadcrumb">
                    <li>{{ Item.kind }}</li>
                    <li class="active">{{ Item.detail.name }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="content-pages">
                <div class="container prd-styl">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="title">
                            <h2>{{ Item.detail.name }}</h2>
                        </div>
                        <hr/>
                        <h2 class="price-detail-prd">{{ Item.detail.price | currency }}</h2>
                        <h5 ng-if="Item.detail.shipmentPrice > 0">Precio de
                            envio {{ Item.detail.shipmentPrice | currency }}</h5>
                        <button class="btn btn-orange text-center"
                                ng-disabled="Item.itemInCart(item) || !Item.show || Item.detail.stock < 1 && !Item.detail.infinityStock"
                                ng-click="Item.setItem({id: Item.detail.id, price: Item.detail.price, name: Item.detail.name, qty: 1, shipmentPrice: Item.detail.shipmentPrice,stock: Item.detail.stock}, null, 'cart');">
                            <i class="fa fa-shopping-cart"></i> Comprar ahora
                        </button>

                        <img class="img-prd-detail" src="{{ Item.detail.attachments[0].url }}"
                             alt="{{ Item.detail.name }}"/>
                    </div>

                    <div class="col-sm-12" ng-show="Item.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-prd-info">
        <div class="container">
            <div class="col-md-8 col-sm-8">
                <h3>Descripción</h3>

                <div class="description" ng-bind-html="Item.detail.description"></div>
            </div>
            <div class="col-sm-4">
                <div class="title">
                    <h2>{{ Item.detail.name }}</h2>
                </div>
                <h2 class="price-detail-prd">{{ Item.detail.price | currency }}</h2>
                <h5 ng-if="Item.detail.shipmentPrice > 0">Precio de
                    envio {{ Item.detail.shipmentPrice | currency }}</h5>
                <button class="btn btn-orange text-center"
                        ng-disabled="Item.itemInCart(item) || !Item.show || Item.detail.stock < 1 && !Item.detail.infinityStock"
                        ng-click="Item.setItem({id: Item.detail.id, price: Item.detail.price, name: Item.detail.name, qty: 1, shipmentPrice: Item.detail.shipmentPrice, stock: Item.detail.stock}, null, 'cart');">
                    <i class="fa fa-shopping-cart"></i> Comprar ahora
                </button>

                <div ng-if="Item.detail.kind == 'coupon'">
                    <br/>

                    <div ng-if="Item.show">
                        <timer class="timer" ng-if="Item.detail.stock > 0" end-time="Item.expires">
                            <p>Disponible por</p>
                    <span class="time-clock">
                        <i class="fa fa-clock-o"></i> {{ days }} dias, {{ hours }}
                        horas, {{ minutes }} minutos, {{ seconds }} segundos.</span>
                        </timer>
                    </div>
                    <div ng-if="Item.detail.stock > 5 && !Item.detail.infinityStock">
                        <h5 class="text-gray">Cupones disponibles
                            <strong>{{ Item.detail.stock }}</strong></h5>
                    </div>
                    <div class="timer" ng-if="!Item.show">
                        Lo sentimos, éste cupón ya expiró.
                    </div>
                    <div ng-if="Item.detail.stock <= 5 && Item.detail.stock > 1 && !Item.detail.infinityStock">
                        <br/>
                        <h4 class="text-dark">Apresúrate sólo quedan
                            <strong>{{ Item.detail.stock }}</strong> cupones</h4>
                    </div>
                    <div ng-if="Item.detail.stock  <= 5 && Item.detail.stock  == 1 && !Item.detail.infinityStock">
                        <br/>
                        <h4 class="text-dark">Apresúrate sólo queda
                            <strong>{{ Item.detail.stock }}</strong> cupón</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>