<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container success-payment-cart">
                    <h1><i class="fa fa-check"></i> Tu compra se ha procesado correctamente.</h1>
                    <hr>
                    <p>
                        Si tiene alguna duda sobre su compra por favor contactenos a al
                        teléfono: <strong>{{ purchaseDetail.shop.phone }}</strong> o acuda a nuestra dirección en
                        <strong>{{ purchaseDetail.shop.address }}</strong></p>

                    <p>{{ purchaseDetail.shop.businessName }} utiliza <a href="https://mercadomovil.com.mx"
                                                                         target="_blank"
                                                                         class="text-orange"><strong>Mercado
                        Móvil</strong></a>
                        para procesar ventas electrónicas
                    </p>

                    <p><a href="https://mercadomovil.com.mx/doc/page/terminos-y-condiciones/" target="_blank"
                          class="text-orange">Consulte términos y condiciones de este servicio.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>